@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;900&display=swap');

:root{
  --color-font: #ffffff;
  --color-font-items: #000000;
  --color-font-footer: #343434;
  --color-input: #7D7D7D;
  --color-button: #DE1212;
  --color-background: #ffffff;
  --color-background-box: #f1f1f1;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
}

b{
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-font);
  font-size: 16px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-font);
  font-size: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-font-items);
  font-size: 18px;
  font-weight: 900;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-font-items);
  font-size: 14px;
}